<h2 class="mt-3">Results</h2>
<label>Found {{ apps|length }} apps:</label>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for app in apps %}
    <tr>
      <td>
        <a
          href="https://f-droid.org/en/packages/{{ app.id }}"
          target="_blank"
          rel="noopener noreferrer"
          onclick="incrementClicks('{{ app.id }}')"
        >
          {{ app.name }}
        </a>
      </td>
      <td>{{ app.summary }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
