{% macro filter(name, values, binary, default="include") %}
<div class="accordion-item">
  <h2 class="accordion-header" id="heading-{{ name }}">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ name }}" aria-expanded="false" aria-controls="collapse-{{ name }}">
      Select {{ name }}
    </button>
  </h2>
  <div id="collapse-{{ name }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ name }}" data-bs-parent="#accordionExample">
    <label>Set all to:</label>
    <button
      type="button"
      class="btn btn-success"
      name="{{ name }}"
      id="{{ name }}-include-all"
      onClick="toggleAll(this, 'include')"
    >
      Include
    </button>
    <button
      type="button"
      class="btn btn-danger"
      name="{{ name }}"
      id="{{ name }}-exclude-all"
      onClick="toggleAll(this, 'exclude')"
    >
      Exclude
    </button>
    {% if not binary %}
    <button
      type="button"
      class="btn btn-info"
      name="{{ name }}"
      id="{{ name }}-dont-care-all"
      onClick="toggleAll(this, 'dont-care')"
    >
      Don't care
    </button>
    {% endif %}
    <br />
      &#9432; {% if binary %} OR {% else %} AND {% endif %} connection.
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ name }}</th>
          <th>Filter</th>
        </tr>
      </thead>
      <tbody>
        {% for value in values %}
        <tr>
          <td>{{value}}</td>
          <td>
            <select
              name="select-{{ name }}-{{ value }}"
              id="select-{{ name }}-{{ value }}"
              class="form-select"
            >
              <option value="include" {% if default == "include" %} selected {% endif %}>
                Include
              </option>
              <option value="exclude" {% if default == "exclude" %} selected {% endif %}>
                Exclude
              </option>
              {% if not binary %}
              <option value="dont-care" {% if default == "dont-care" %} selected {% endif %}>
                Don't care
              </option>
              {% endif %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endmacro %}

<!DOCTYPE html>
<html>
  <header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F-Droid Alternative Search</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>

    <script>
      function toggleAll(source, value) {
        selects = document.querySelectorAll(`[id^="select-${source.name}"]`);
        for (const select of selects) {
          select.value = value;
        }
      }

      function incrementClicks(id) {
        // TODO: Is this possible to do with HTMX?
        fetch(`/increment_clicks?id=${id}`)
      }
    </script>
  </header>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div class="container">
      <h1>Alternative search for F-Droid apps</h1>
      <form id="search-form" style="clear: both" hx-post="/search" hx-target="#results">
        <div class="input-group">
          <input id="search" name="search" type="text" class="form-control" />
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
        <h2 class="mt-3">Filter</h2>
        <div class="mt-3">
          <label for="lastUpdateMin">Last Update ></label>
          <input id="lastUpdateMin" name="lastUpdateMin" type="date" />
        </div>
        <div class="accordion mt-3" id="accordionExample">
          {{ filter("Antifeatures", configuration.anti_features, false, default="exclude") }}
          {{ filter("Categories", configuration.categories, false, default="dont-care") }}
          {{ filter("Hosts", configuration.hosts, true) }}
          {{ filter("Licenses", configuration.licenses, true) }}
        </div>
      </form>
    </div>

    <!-- results -->
    <div class="container">
      <div id="results" style="float: left; width: 100%"></div>
    </div>

    <!-- footer -->
    <div class="container position-sticky mt-3">
      <footer>
        <div style="float: left">Last Data Update: {{ last_data_update }}</div>
        <a
          style="float: right"
          href="https://gitlab.com/Marph/fdroid-alternative-search"
          target="_blank"
          rel="noopener noreferrer"
        >Source Code</a>
      </footer>
    </div>
  </body>
</html>
